// ///////////////////////////////////////////////////////////////////// General
// -----------------------------------------------------------------------------
.breadcrumbs {
  font-family: $font_Primary;
  font-size: $fontSize_Small;
  font-weight: $fontWeight_Regular;
  letter-spacing: $letter_SpacingRegular;
  line-height: $leading_Small;
  .breadcrumb-link {
    .divider {
      font-weight: inherit;
    }
  }
}

// ////////////////////////////////////////////////////////////////////// Header
// -----------------------------------------------------------------------------
#site-header {
  background-color: transparent;
}

#header-navigation {
  .navigation-content {
    margin-top: 0.25rem;
    .language-selector {
      display: flex;
      .option {
        color: $white;
        &:active {
          color: $caribbeanBlue;
        }
      }
    }
  }
  .navigation {
    display: flex;
    max-width: unset;
    @include small {
      height: calc(100vh - 8.25rem);
      &:not(.modal-open) {
        display: none;
      }
      &.modal-open {
        display: block;
      }
    }
    .links-container {
      margin: 0 2rem;
      @include medium {
        margin: 0 1rem;
      }
      &:before {
        content: '';
        position: relative;
        width: 6rem;
        height: 100%;
        flex-grow: 1;
      }
      @include small {
        margin: 0 5rem;
        justify-content: flex-start;
        &:before {
          content: '';
          position: relative;
          width: 100%;
          height: 2rem;
          flex-grow: 0;
        }
      }
      .navigation-link {
        font-family: $font_Primary;
        letter-spacing: $letter_SpacingRegular;
        font-size: $fontSize_Regular;
        margin: 0 1.0rem;
        @include medium {
          margin: 0 0.5rem;
        }
        @include small {
          font-size: $fontSize_Large;
          line-height: $leading_Mini;
          margin: 0 0 2rem 0;
        }
      }
    }

    .social-icon-container {
      display: none;
    }

    .relative-wrapper {
      content: '';
      position: relative;
      width: 100px;
      z-index: 100;
      @include small {
        margin: 0 5rem;
      }
    }

    .button-wrapper {
      position: relative;
      transition: all 250ms linear;
      &:before {
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        width: calc(100% - 2px);
        height: calc(100% - 2px);
        @include whiteBorderBack;
        background-color: $jaguar;
        transition: inherit;
      }
      &:after {
        content: '';
        position: absolute;
        top: 5px;
        left: 5px;
        width: calc(100% - 2px);
        height: calc(100% - 2px);
        @include whiteBorderBack;
        @include oceanBlueGradient;
        transition: inherit;
      }
      button {
        z-index: 1;
        top: 10px;
        left: 10px;
        @include whiteBorderFront;
        border-radius: 0 !important;
        background-color: $jaguar;
        transition: inherit;
        .button-content {
          color: $white;
          transition: all 250ms linear;
          svg {
            path {
              transition: inherit;
              stroke: $white;
            }
          }
        }
      }
      &.button-active {
        &:before {
          top: 0px;
          left: 0px;
        }
        &:after {
          top: 0px;
          left: 0px;
        }
        button {
          top: 0px;
          left: 0px;
          @include oceanBlueGradient;
          .button-content {
            color: $blackSapphire;
            transition: all 250ms linear;
            svg {
              path {
                transition: inherit;
                stroke: $blackSapphire;
              }
            }
          }
        }
      }
    }
    .sort-by-wrapper {
      position: absolute;
      top: -50%;
      &.open {
        &:after {
          background: linear-gradient(90deg, $daytonaBlue, $daytonaBlue);
        }
      }
    }
    .dropdown-root {
      position: relative;
      padding-top: 0;
      color: $blackSapphire;
    }
    .dropdown-item {
      background-color: $white;
      font-size: $fontSize_Small !important;
      padding: 0.5rem 1rem;
      &.highlighted {
        background-color: unset;
        color: $blackSapphire;
        @include lightBlueGradient;
      }
    }

    #dropdown-selector {
      font-family: $font_Secondary;
      .button-inner {
        font-size: $fontSize_Small !important;
        transition: all 250ms linear;
        background-color: $jaguar;
        label, span {
          @include leading_Large;
        }
      }
      .dropdown-button {
        .dropdown-toggle {
          svg {
            path {
              stroke: $white;
            }
          }
        }
      }
      &:not(.closed) {
        .shadow {
          transition: opacity 250ms ease-in, height 0ms;
          opacity: 1;
        }
        .dropdown-toggle {
          transition: 250ms ease-in;
          transform: rotate(-180deg);
          svg {
            path {
              stroke: $blackSapphire;
            }
          }
        }
        .button-inner {
          @include oceanBlueGradient;
          color: $blackSapphire;
        }
      }
    }
  }
  .navigation-dropdown {
    .dropdown-wrapper {
      position: relative;
      margin-right: 1.5rem;
      transition: all 250ms linear;
      &:before {
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        width: calc(100% - 2px);
        height: calc(100% - 2px);
        @include whiteBorderBack;
        background-color: $jaguar;
        transition: inherit;
      }
      &:after {
        content: '';
        position: absolute;
        top: 5px;
        left: 5px;
        width: calc(100% - 2px);
        height: calc(100% - 2px);
        @include whiteBorderBack;
        @include oceanBlueGradient;
        transition: inherit;
      }
      button {
        z-index: 1;
        top: 10px;
        left: 10px;
        min-height: 2.5rem;
        @include cardText;
        @include whiteBorderFront;
        border-radius: 0 !important;
        background-color: $jaguar;
        transition: inherit;
        .button-inner {
          background: $blackSapphire;
          color: $white;
          transition: all 250ms linear;
          svg {
            path {
              transition: inherit;
              stroke: $white;
            }
          }
        }
      }
      &.button-active {
        &:before {
          top: 0px;
          left: 0px;
        }
        &:after {
          top: 0px;
          left: 0px;
        }
        button {
          top: 0px;
          left: 0px;
          @include oceanBlueGradient;
          .button-content {
            color: $blackSapphire;
            transition: all 250ms linear;
            svg {
              path {
                transition: inherit;
                stroke: $blackSapphire;
              }
            }
          }
        }
      }
    }
  }
}

#header-hero {
  margin-bottom: 1.25rem;
  .breadcrumbs {
    margin-top: 0;
    .breadcrumb-link {
      font-weight: $fontWeight_SemiBold;
    }
  }
  .index-subheading {
    font-family: $font_Primary;
    font-size: $fontSize_Medium;
    font-weight: $fontWeight_Regular;
    letter-spacing: $letter_SpacingRegular;
    line-height: $leading_Medium;
    width: 75%;
    @include medium {
      width: 100%;
    }
  }
  &.index-view,
  &.filters-view,
  &.filters-applied,
  &.hero-header {
    background-color: unset !important;
    h1 {
      font-family: $font_Primary;
      font-size: $fontSize_ExtraExtraLarge;
      font-weight: $fontWeight_SemiBold;
      letter-spacing: $letter_SpacingRegular;
      line-height: $leading_Small;
    }
    .display-total {
      font-family: inherit;
      font-size: inherit;
      font-weight: inherit;
      letter-spacing: inherit;
      line-height: inherit;
    }
  }
  &.index-view {
    h1 {
      margin-top: 4.25rem;
      margin-bottom: 1.5rem;
    }
  }
  &.filters-view,
  &.filters-applied {
    h1 {
      margin-top: 3.5rem;
      margin-bottom: 1.25rem;
    }
  }
}

// ////////////////////////////////////////////////////////////////////// Footer
// -----------------------------------------------------------------------------
#site-footer {
  background-color: transparent;
  .panel-top {
    .heading,
    .links-heading {
      font-family: $font_Primary;
      font-size: $fontSize_Large;
      font-weight: $fontWeight_SemiBold;
      letter-spacing: $letter_SpacingRegular;
      line-height: $leading_Large;
    }
    .links-heading {
      margin-bottom: 0.25rem;
    }
    .subheading,
    .navigation-link {
      font-family: $font_Primary;
      font-size: $fontSize_Large;
      font-weight: $fontWeight_Regular;
      letter-spacing: $letter_SpacingRegular;
      line-height: $leading_Regular;
    }
    .navigation-link {
      padding: 0.125rem 0;
      color: #b3b3b3;
    }
  }
  .content-wrapper {
    margin: 0 2rem;
    @include medium {
      margin: 0;
      margin-left: 2rem;
    }
    @include small {
      margin: 0;
      margin-bottom: 2rem;
    }
  }
}



// ///////////////////////////////////////////////////////////////// Footer Form
// -----------------------------------------------------------------------------
.mailchimp-form {
  #mailchimp-form {
    .panel-top {
      .email,
      .submit {
        @include whiteBorderBack;
        box-shadow: none;
        position: relative;
        margin-left: 9px;

        input {
          @include fontSize_Small;
          font-family: $font_Secondary;
          font-weight: $fontWeight_Regular;
          background: none;
          box-shadow: none;
          height: 30px;
          padding: 0 20px;
        }

        &:before,
        &:after {
          content: '';
          position: absolute;
          display: block;
          width: 100%;
          height: 100%;
        }

        &:before {
          @include whiteBorderBack;
          background: $cadmiumBlue;
          top: -7px;
          left: -6px;
          z-index: -1;
        }

        &:after {
          @include whiteBorderBack;
          top: -13px;
          left: -11px;
          z-index: -2;
        }
      }

      .email {
        background: $midnight;

        input {
          color: $white;
        }
      }

      .submit {
        @include oceanBlueGradient;

        input {
          color: $blackSapphire;
          margin-left: 0;
        }
      }
    }
  }
}

// ////////////////////////////////////////////////////////////// Segment Slider
// -----------------------------------------------------------------------------

#segment-slider-card {
  position: relative;
  .slider-card {
    @include oceanBorderGradient;
    padding: 0.5rem;
    min-width: 14rem;
    @include small {
      border: none;
    }
    h3 {
      font-family: $font_Primary;
      font-size: $fontSize_Small;
      font-weight: $fontWeight_SemiBold;
      letter-spacing: $letter_SpacingRegular;
      line-height: $leading_Small;
      color: $blackSapphire;
    }
    .description {
      font-family: $font_Secondary;
      font-size: $fontSize_Small;
      font-weight: $fontWeight_Regular;
      letter-spacing: 0;
      line-height: $leading_Small;
      color: $darkGrey;
    }
    .logo-wrapper {
      margin-bottom: 0;
    }
  }
  .view-all {
    @include cardText;
    @include tripleLayer;
    background-color: $jaguar;
    top: 3.625rem;
    &:after {
      @include oceanBlueGradient;
    }
  }
}

#segment-slider-chart {
  @include medium {
    .segments-container {
      background-color: inherit;
      .chart-title {
        color: $blackSapphire;
      }
    }
    .chart-container {
      margin-bottom: 4rem;
    }
  }
  @include small{
    background-color: $white;
    .main-container {
      @include oceanBorderGradient;
    }
    .chart-container {
      margin-bottom: 2rem;
    }
  }
  .block-segment {
    @include whiteBorderBack;
  }
  .segment-line {
    background-color: $white;
    width: 1px;
    z-index: -1;
  }
  .segment-label {
    @include cardText;
    letter-spacing: 0.015em;
    line-height: $leading_Tiny;
  }
  .segments-row {
    &:before {
      content: '';
      position: absolute;
      height: 4px;
      width: 100%;
      background-color: $white;
      left: 0%;
    }
  }
}

// ///////////////////////////////////////////////////////////// Featured Slider
// -----------------------------------------------------------------------------
#section-featured-slider {
  margin-bottom: 6rem;
  h3 {
    @include secondaryHeader;
  }
  .description {
    @include nonCardText;
    margin-bottom: 1.5rem;
  }
}


#featured-projects-slider {
  .click-wrapper {
    align-self: stretch;
    .project-card {
      padding: 0;
      height: 100%;
      .title,
      .description {
        padding: 0 1rem;
        color: $white;
      }
      .title {
        @include fontSize_Medium;
        @include leading_Regular;
        font-family: $font_Primary;
        font-weight: $fontWeight_SemiBold;
        letter-spacing: $letter_SpacingRegular;
      }
      .description {
        @include fontSize_Small;
        @include leading_Small;
        font-family: $font_Secondary;
        font-weight: $fontWeight_Regular;
        margin-bottom: 1rem;
      }
    }
  }
  #slider {
    margin: 0;
    #card-row {
      .click-wrapper {
        margin: 0 0.5rem;
      }
      :first-child {
        margin-left: 0;
      }
      :last-child {
        margin-right: 0;
      }
    }
  }
}

.page-home {
  #slider-line {
    width: calc(50% - 1rem) !important;
    .dummy-thumb {
      position: absolute;
      top: 2rem;
      width: 62px;
      height: 12px;
      z-index: unset;
      @include tripleLayer;
      @include oceanBlueGradient;
      @include whiteBorderBack;
      &:before {
        top: -5px;
        left: -5px;
      }
      &:after {
        top: -3px;
        left: -3px;
        background-color: $daytonaBlue;
      }
      svg {
        display: none;
      }
    }
    &:after {
      top: 2.25rem !important;
      border: 1px solid $white !important;
    }
    #feature-range-slider {
      position: absolute;
      &::-webkit-slider-thumb { width: 62px; }
      &::-moz-range-thumb { width: 62px; }
      &::-ms-thumb { width: 62px; }
    }
  }
}

// //////////////////////////////////////////////////// Project Explorer Toolbar
// -----------------------------------------------------------------------------
#section-filter {
  padding-bottom: 3rem !important;
  h3 {
    @include secondaryHeader;
  }
  .description {
    @include nonCardText;
    padding-right: 25%;
    @include containerMaxMQ {
      padding-right: 0;
    }
  }
}

#section-toolbar {
  margin-bottom: 2rem !important;
}

#project-explorer-container {
  padding-top: 2rem;
}

#project-explorer-toolbar {
  .filter-panel-controls {
    display: flex;
    margin-bottom: 1.5rem;
    #clear-selected-filters-button {
      margin-left: 0;
    }
  }
  .button-wrapper {
    position: relative;
    margin-right: 1.5rem;
    transition: all 250ms linear;
    &:before {
      content: '';
      position: absolute;
      top: 0px;
      left: 0px;
      width: calc(100% - 2px);
      height: calc(100% - 2px);
      @include whiteBorderBack;
      background-color: $jaguar;
      transition: inherit;
    }
    &:after {
      content: '';
      position: absolute;
      top: 5px;
      left: 5px;
      width: calc(100% - 2px);
      height: calc(100% - 2px);
      @include whiteBorderBack;
      @include oceanBlueGradient;
      transition: inherit;
    }
    button {
      z-index: 1;
      top: 10px;
      left: 10px;
      min-height: 2rem;
      @include cardText;
      @include whiteBorderFront;
      border-radius: 0 !important;
      background-color: $jaguar;
      transition: inherit;
      .button-content {
        color: $white;
        transition: all 250ms linear;
        svg {
          path {
            transition: inherit;
            stroke: $white;
          }
        }
      }
    }
    &.button-active {
      &:before {
        top: 0px;
        left: 0px;
      }
      &:after {
        top: 0px;
        left: 0px;
      }
      button {
        top: 0px;
        left: 0px;
        @include oceanBlueGradient;
        .button-content {
          color: $blackSapphire;
          transition: all 250ms linear;
          svg {
            path {
              transition: inherit;
              stroke: $blackSapphire;
            }
          }
        }
      }
    }
  }
  .relative-wrapper {
    position: relative;
    left: -14px;
    z-index: 100;
  }
  .sort-by-wrapper {
    position: absolute;
    &.open {
      &:after {
        background: linear-gradient(90deg, $daytonaBlue, $daytonaBlue);
      }
    }
  }
  .dropdown-root {
    position: relative;
    padding-top: 0;
    color: $blackSapphire;
  }
  .dropdown-item {
    &.highlighted {
      background-color: unset;
      color: $blackSapphire;
      @include lightBlueGradient;
    }
  }

  #filter-panel-toggle-button {
    position: relative;
  }

  #sort-by-selector {
    @include shadow1;
    .button-inner,
    .dropdown-item {
      @include fontSize_Small;
      line-height: 1.5;
    }
    .button-inner {
      align-items: center;
      background-color: $jaguar;
      transition: all 250ms linear;
    }
    .dropdown-button {
      .dropdown-toggle {
        svg {
          path {
            stroke: $white;
          }
        }
      }
    }
    &:not(.closed) {
      .shadow {
        transition: opacity 250ms ease-in, height 0ms;
        opacity: 1;
      }
      .dropdown-toggle {
        transition: 250ms ease-in;
        transform: rotate(-180deg);
        svg {
          path {
            stroke: $blackSapphire;
          }
        }
      }
      .button-inner {
        @include oceanBlueGradient;
        color: $blackSapphire;
      }
    }
  }

  #list-block-toggle-button {
    top: 10px;
    height: calc(2.5rem - 1px);
    @include whiteBorderBack;
    overflow: hidden;
    &:before {
      width: 52%;
      background-color: unset;
      @include oceanBlueGradient;
    }
    svg {
      path,
      line,
      g {
        stroke: $blackSapphire;
      }
    }
  }
}

// //////////////////////////////////////////////////////////////// Filter Panel
// -----------------------------------------------------------------------------
#filter-panel-project-list-container {
  &:not(.filter-panel-open) {
    #filter-panel-wrapper {
      left: -3px;
    }
  }
}

#filter-panel-wrapper {
  background: unset !important;
  background-color: unset !important;
  @include oceanBorderGradient;
  border-left: unset;
  @include small {
    background-color: $blackSapphire !important;
    border: none;
  }
  &:before {
    background: unset !important;
    background-color: unset !important;
    @include oceanBorderGradient;
    border-right: unset;
    top: -3px !important;
  }

  #filter-panel-toolbar {
    #filter-panel-close-icon {
      svg {
        path {
          stroke: $ocean;
        }
      }
    }
    #filter-bar {
      height: 1.875rem;
      .icon-container {
        width: 1.875rem;
        height: 1.875rem;
        svg {
          height: 1rem;
          width: 1rem;
          line,
          circle {
            stroke: #BFBFBF;
          }
        }
      }
      input {
        font-family: $font_Primary;
        font-weight: $fontWeight_Regular;
        letter-spacing: $letter_SpacingRegular;
        color: $tundora;
        @mixin placeholder {
          font-family: $font_Primary;
          color: $tundora;
          opacity: 0.75;
          z-index: 100;
        }
        ::-webkit-input-placeholder { @include placeholder; }
        ::-moz-placeholder { @include placeholder; }
        :-ms-input-placeholder { @include placeholder; }
        :-moz-placeholder { @include placeholder; }
        &:hover {
          background-color: $white;
        }
        &:focus {
          background-color: $white;
        }
      }
    }
  }

  .filter-category {
    .heading-wrapper {
      svg {
        opacity: 0.5;
        &:hover {
          opacity: 1.0;
        }
        path {
          stroke: $white;
        }
      }
    }
    .heading {
      font-family: $font_Primary;
      font-size: $fontSize_Regular;
      font-weight: $fontWeight_Medium;
      letter-spacing: $letter_SpacingRegular;
      line-height: $leading_Mini;
      margin-left: 0;

      .number-active: {
        font-size: $fontSize_Small;
        font-weight: $fontWeight_Regular;
      }
      .subheading {
        font-family: $font_Primary;
        font-size: $fontSize_Small;
        line-height: $leading_Mini;
      }
    }
    .chiclet-list {
      margin: 0;
    }
  }
  #filter-panel-controls {
    .clear-selected-button {
      color: $white;
      @include cardText;
      @include oceanBlueGradient;
    }
    .done-button {
      left: 1rem;
      @include cardText;
      @include tripleLayer;
      @include whiteBorderBack;
      &:after {
        @include oceanBlueGradient;
      }
    }
  }
}

// //////////////////////////////////////////////////////////////////// Chiclets
// -----------------------------------------------------------------------------
.chiclet-list {
  .chiclet {
    @include borderRadius_Medium;
    @include fontSize_Small;
    @include leading_Tiny;
    background-color: $lightGrey;
    border: 1px solid $tundora;
    font-family: $font_Primary;
    font-weight: $fontWeight_Regular;
    color: $blackSapphire;
    box-shadow: none;
    padding: 7.5px 10.5px;

    &:hover,
    &.active-button {
      @include oceanBlueGradient;
      color: $blackSapphire;
    }
  }
}

// /////////////////////////////////////////////////////////////// Project Cards
// -----------------------------------------------------------------------------
.project-card {
  &:not(.list-view) {
    .content {
      margin-bottom: 1rem !important;
    }
  }
  .card-inner-wrapper {
    @include oceanBorderGradient;
    border-radius: 0 !important;
    height: 100%;
  }
  .thumbnail {
    border-radius: 0 !important;
  }
  .title {
    @include leading_Regular;
    font-family: $font_Primary;
    font-weight: $fontWeight_Medium;
    letter-spacing: $letter_SpacingRegular;
    font-size: $fontSize_Regular !important;
    margin-bottom: 0.5rem !important;
  }
  .description {
    @include leading_Small;
    font-family: $font_Secondary;
    font-weight: $fontWeight_Regular;
  }
  &.list-view {
    .title,
    .description {
      color: $blackSapphire;
    }
  }
  &.block-view {
    .title,
    .description {
      padding: 0 1rem;
      color: $white;
    }
  }
}

// ////////////////////////////////////////////////////////////////// Pagination
// -----------------------------------------------------------------------------
#paginated-list-navigation-controls {
  svg {
    path,
    line {
      stroke: $white;
    }
  }
  div,
  button {
    font-family: $font_Secondary;
  }
  .page-button,
  .control-button {
    @include fontSize_Small;
  }
  .control-button {
    &.first,
    &.last {
      svg {
        width: 14px;
      }
    }
    &.next,
    &.prev {
      svg {
        width: 7px;
      }
    }
  }
}

#results-per-page-selector {
  @include lightBluePurpleGradient;
  @include whiteBorderBack;
  border-radius: $borderRadius_Medium;
  color: $blackSapphire;
  .dropdown {
    &.dropdown-button {
      align-items: center;
    }
    label {
      @include fontSize_Small;
    }
  }
  .dropdown-list {
    color: inherit;
    .dropdown-item {
      @include fontSize_Small;
      &.highlighted {
        background-color: unset;
        color: $blackSapphire;
        @include lightBlueGradient;
      }
    }
  }
  svg {
    path,
    line {
      stroke: $blackSapphire;
    }
  }
}

// //////////////////////////////////////////////////////////////// Page Project
// -----------------------------------------------------------------------------
.page-project {
  background-color: $projectDetailsGrey !important;
  font-family: $font_Primary;
  color: $darkGrey;

  a {
    color: $azure;
  }

  // //////////////////////////////////// Project Featured Slider [Page Project]
  // ---------------------------------------------------------------------------
  .featured-box {
    border: none !important;
  }

  #section-featured-slider {
    margin-top: 0 !important;
    margin-bottom: 0;

    h3.heading,
    div.description {
      padding-left: 0.5rem;
    }

    .heading {
      @include fontSize_ExtraLarge;
      font-family: $font_Primary;
      font-weight: $fontWeight_SemiBold;
      margin-bottom: 0.5rem;
    }

    .description {
      @include fontSize_Regular;
      margin-bottom: 2.2rem !important;
    }

    .featured-box {
      border: none;
      padding-top: 3.2rem;
    }

    .project-card {
      .thumbnail {
        border: 0;
        background-color: white;
      }
      .title,
      .description {
        color: $darkGrey;
      }
    }

  }

  #slider-line {
    width: calc(50% - 1rem) !important;
    .dummy-thumb {
      position: relative;
      top: 1.875rem;
      width: 60px;
      height: 10px;
      z-index: 2;
      @include oceanBorderGradient;
      border-width: 1px;
      background-color: transparent;
      transform: unset;
      border-radius: 0;
      &:before {
        content: '';
        position: absolute;
        width: calc(100% + 2px);
        height: calc(100% + 2px);
        top: 1px;
        left: 1px;
        // @include whiteBorderBack;
        @include oceanBlueGradient;
      }
      &:after {
        content: '';
        position: absolute;
        width: calc(100% + 2px);
        height: calc(100% + 2px);
        top: 2px;
        left: 2px;
        @include whiteBorderBack;
        @include oceanBlueGradient;
      }
      svg {
        display: none;
      }
    }
    &:after {
      z-index: 1 !important;
      top: 2.25rem !important;
      border: 1px solid $greyBlue !important;
    }
    #feature-range-slider {
      position: absolute;
      &::-webkit-slider-thumb { width: 62px; }
      &::-moz-range-thumb { width: 62px; }
      &::-ms-thumb { width: 62px; }
    }
  }

}
// //////////////////////////////////////////////////////////////// Project Info
#section-project-info {
  margin-bottom: 4.3rem !important;

  .logo {
    max-height: 6rem;
    margin-bottom: 1.5rem;
  }

  h1.name {
    @include fontSize_ExtraExtraLarge;
    font-family: $font_Primary;
    font-weight: $fontWeight_SemiBold !important;
  }

  h2.company {
    @include fontSize_ExtraLarge;
    @include leading_Regular;
    font-weight: $fontWeight_SemiBold !important;
    color: $darkGrey;
    opacity: 1;
    margin-bottom: 1.9rem;
  }

  .description {
    @include fontSize_Medium;
    @include leading_Medium;
    color: $darkGrey;
    margin-bottom: 2.125rem !important;
  }

  .ctas {
    position: relative;
    z-index: 3;

    .primary-cta {
      @include whiteBorderBack;
      @include oceanBlueGradient;
      @include fontSize_Small;
      font-family: $font_Secondary;
      font-weight: $fontWeight_Regular;
      box-shadow: none;
      position: relative;
      padding: 0.35rem 1.25rem 0.275rem;
      margin-left: 12px;

      &:before,
      &:after {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
      }

      &:before {
        @include whiteBorderBack;
        background: $cadmiumBlue;
        top: -7px;
        left: -6px;
        z-index: -1;
      }
      &:after {
        border: 2px solid $caribbeanBlue;
        top: -13px;
        left: -11px;
        z-index: -2;
      }

      span {
        position: relative;

        &[data-tooltip] {
          &::after {
            top: -1.5rem;
          }
        }
      }
    }

    .secondary-cta {
      display: none;
    }
  }
}

// //////////////////////////////////////////////////////////////////// Key Info
// -----------------------------------------------------------------------------

#section-key-info {
  h3.heading {
    font-size: $fontSize_ExtraLarge !important;
    font-family: $font_Primary;
    font-weight: $fontWeight_SemiBold;
  }

  .values {
    .name {
      @include fontSize_Regular;
      font-weight: $fontWeight_Medium;
    }

    .links {
      a {
        @include fontSize_Medium;
        font-weight: $fontWeight_Regular;
        position: relative;

        &[data-tooltip] {
          &::after {
            top: -1.25rem;
          }
        }
      }
    }
  }
}

// ///////////////////////////////////////////////////////////////////// Filters
// -----------------------------------------------------------------------------
#section-filters {
  h3.heading {
    font-size: $fontSize_Regular !important;
    font-family: $font_Primary;
    font-weight: $fontWeight_Medium;
  }
}

// /////////////////////////////////////////////////////////////////////// Video
// -----------------------------------------------------------------------------
#section-video {
  width: 500px;
  margin-top: 2.75rem;
  margin-left: -1.375rem;

  .video-wrapper {
    border-radius: 5px;
    overflow: hidden;
  }
}

// ///////////////////////////////////////////////////////////// Statistic Cards
// -----------------------------------------------------------------------------
#section-statistics {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-bottom: 0 !important;
  flex-direction: column;
  flex-wrap: nowrap;
  row-gap: 20px;

  .card {
    @include oceanBorderGradient;
    width: 360px;
    margin: 0;

    .statistic {
      @include fontSize_Larger;
      font-family: $font_Primary;
      font-weight: $fontWeight_SemiBold;
      margin-bottom: 0;
    }

    .title {
      @include fontSize_Regular;
      font-family: $font_Primary;
      font-weight: $fontWeight_SemiBold;
    }

    .description {
      @include fontSize_Small;
      font-family: $font_Secondary;
      color: $tundora;
    }

    .cta {
      @include oceanBlueGradient;
      @include whiteBorderBack;
      @include fontSize_Small;
      font-family: $font_Secondary;
      font-weight: $fontWeight_Regular;
      color: $white;
      position: absolute;
      bottom: -20px;
      padding: 6px 29px;
      margin: 0;
    }

    &.big-number {
      padding: 30px 20px;
      flex-direction: row;
      justify-content: flex-start;
      column-gap: 14px;

      .description {
        text-align: left;
        @include leading_Small;
      }
    }

    &.case-study {
      position: relative;
      padding: 11px 20px 30px;

      .title {
        margin-bottom: 5px;
      }

      .description {
        @include leading_Regular;
      }
    }
  }
}

// ///////////////////////////////////////////////////////////////////// Filters
#section-filters {
  .chiclet {
    @include lightBlueGradient;
    @include whiteBorderBack;

    &:hover,
    &.active-button {
      @include oceanBlueGradient;
      color: $blackSapphire;
    }
  }
}

// ///////////////////////////////////////////////////////////////////// Filters
[data-tooltip] {
  &::before {
    content: none;
  }

  &::after {
    background: $white !important;
    color: $tooltipBlue !important;
    box-shadow: 0px 3px 6px 0px rgba($tooltipShadow, 0.31);
    padding: 0.25rem 0.5rem;
  }
}
