// ////////////////////////////////////////////////////////////////////// Header
// -----------------------------------------------------------------------------
#site-header {
  background-color: transparent;
}

#header-hero {
  &.index-view,
  &.filters-view,
  &.filters-applied,
  &.hero-header {
    background-color: unset !important;
  }
  .breadcrumbs {
    margin-top: 0;
  }
  h1 {
    margin-top: 4.75rem;
    margin-bottom: 2rem;
  }
}

// //////////////////////////////////////////////////////// Segment Slider Chart
// -----------------------------------------------------------------------------
#segment-slider-card {
  position: relative;
  .slider-card {
    @include oceanBorderGradient;
    @include small {
      border: none;
    }
  }
  .view-all {
    background-color: $jaguar;
    @include tripleLayer;
    top: 10px;
    &:after {
      @include oceanBlueGradient;
    }
  }
  h3 {
    color: $blackSapphire;
  }
}

#segment-slider-chart {
  @include medium {
    .segments-container {
      background-color: inherit;
      .chart-title {
        color: $blackSapphire;
      }
    }
    .chart-container {
      margin-bottom: 4rem;
    }
  }
  @include small{
    background-color: $white;
    .main-container {
      @include oceanBorderGradient;
    }
    .chart-container {
      margin-bottom: 2rem;
    }
  }

  .block-segment {
    @include whiteBorderBack;
  }
  .segment-line {
    background-color: $white;
    width: 1px;
    z-index: -1;
  }
  .segments-container {
    &:before {
      content: '';
      position: absolute;
      height: 4px;
      width: 100%;
      background-color: $white;
      left: 0%;
      top: calc(50% + 1.5rem);
    }
    @include medium {
      &:before {
        top: 50%;
      }
    }
  }
}

// ///////////////////////////////////////////////////////////// Featured Slider
// -----------------------------------------------------------------------------
#featured-projects-slider {
  .click-wrapper {
    align-self: stretch;
    .project-card {
      height: 100%;
    }
  }
  #slider-line {
    .dummy-thumb {
      width: 62px;
      height: 12px;
      z-index: unset;
      @include tripleLayer;
      @include oceanBlueGradient;
      &:before {
        top: -8px;
        left: -8px;
      }
      &:after {
        top: -5px;
        left: -5px;
        background-color: $daytonaBlue;
      }
      svg {
        display: none;
      }
    }
  }
}

// //////////////////////////////////////////////////// Project Explorer Toolbar
// -----------------------------------------------------------------------------
#project-explorer-toolbar {
  .button-wrapper {
    position: relative;
    transition: all 250ms linear;
    &:before {
      content: '';
      position: absolute;
      top: 0px;
      left: 0px;
      width: calc(100% - 2px);
      height: calc(100% - 2px);
      @include whiteBorderBack;
      background-color: $jaguar;
      transition: inherit;
    }
    &:after {
      content: '';
      position: absolute;
      top: 5px;
      left: 5px;
      width: calc(100% - 2px);
      height: calc(100% - 2px);
      @include whiteBorderBack;
      @include oceanBlueGradient;
      transition: inherit;
    }
    button {
      z-index: 1;
      top: 10px;
      left: 10px;
      @include whiteBorderFront;
      border-radius: 0 !important;
      background-color: $jaguar;
      transition: inherit;
      .button-content {
        color: $white;
        transition: all 250ms linear;
        svg {
          path {
            transition: inherit;
            stroke: $white;
          }
        }
      }
    }
    &.button-active {
      &:before {
        top: 0px;
        left: 0px;
      }
      &:after {
        top: 0px;
        left: 0px;
      }
      button {
        top: 0px;
        left: 0px;
        @include oceanBlueGradient;
        .button-content {
          color: $blackSapphire;
          transition: all 250ms linear;
          svg {
            path {
              transition: inherit;
              stroke: $blackSapphire;
            }
          }
        }
      }
    }
  }
  .relative-wrapper {
    position: relative;
    left: -14px;
    z-index: 100;
  }
  .sort-by-wrapper {
    position: absolute;
    right: 0;
    &.open {
      &:after {
        background: linear-gradient(90deg, $daytonaBlue, $daytonaBlue);
      }
    }
  }
  .dropdown-root {
    position: relative;
    padding-top: 0;
    color: $blackSapphire;
  }
  .dropdown-item {
    &.highlighted {
      background-color: unset;
      color: $blackSapphire;
      @include lightBlueGradient;
    }
  }

  #sort-by-selector {
    .button-inner {
      transition: all 250ms linear;
      background-color: $jaguar;
    }
    .dropdown-button {
      .dropdown-toggle {
        svg {
          path {
            stroke: $white;
          }
        }
      }
    }
    &:not(.closed) {
      .shadow {
        transition: opacity 250ms ease-in, height 0ms;
        opacity: 1;
      }
      .dropdown-toggle {
        transition: 250ms ease-in;
        transform: rotate(-180deg);
        svg {
          path {
            stroke: $blackSapphire;
          }
        }
      }
      .button-inner {
        @include oceanBlueGradient;
        color: $blackSapphire;
      }
    }
  }

  #list-block-toggle-button {
    top: 10px;
    height: calc(2.5rem - 1px);
    @include whiteBorderBack;
    overflow: hidden;
    &:before {
      width: 52%;
      background-color: unset;
      @include oceanBlueGradient;
    }
    svg {
      path,
      line,
      g {
        stroke: $blackSapphire;
      }
    }
  }
}

// //////////////////////////////////////////////////////////////// Filter Panel
// -----------------------------------------------------------------------------
#filter-panel-wrapper {
  background: unset !important;
  background-color: unset !important;
  @include oceanBorderGradient;
  border-left: unset;
  &:before {
    background: unset !important;
    background-color: unset !important;
    @include oceanBorderGradient;
    border-right: unset;
    top: -3px !important;
  }
  #filter-panel-controls {
    .done-button {
      left: 1rem;
      @include tripleLayer;
      @include whiteBorderBack;
      &:after {
        @include oceanBlueGradient;
      }
    }
  }
}

// //////////////////////////////////////////////////////////////////// Chiclets
// -----------------------------------------------------------------------------
.chiclet-list {
  .chiclet {
    @include borderRadius_Medium;
    color: $blackSapphire;
    &:hover,
    &.active-button {
      color: white;
    }
  }
}

// /////////////////////////////////////////////////////////////// Project Cards
// -----------------------------------------------------------------------------
.project-card {
  .card-inner-wrapper {
    @include oceanBorderGradient;
    border-radius: 0 !important;
    height: 100%;
  }
  .thumbnail {
    border-radius: 0 !important;
  }
  .title {
    font-family: 'SuisseIntl-Regular';
    font-weight: 400;
    letter-spacing: 1px;
    @include fontSize_Regular;
    @include leading_Regular;
  }
  .description {
    font-family: 'Suisse Intl Mono';
    @include fontSize_Small;
    @include leading_Small;
  }
  &.list-view {
    .title,
    .description {
      color: $blackSapphire;
    }
  }
  &.block-view {
    .title,
    .description {
      padding: 0 1rem;
      color: $white;
    }
  }
}

// ////////////////////////////////////////////////////////////////// Pagination
// -----------------------------------------------------------------------------
#paginated-list-navigation-controls {
  svg {
    path,
    line {
      stroke: $white;
    }
  }
  div,
  button {
    font-family: $font_Secondary;
  }
}

#results-per-page-selector {
  @include lightBluePurpleGradient;
  @include whiteBorderBack;
  border-radius: $borderRadius_Medium;
  color: $blackSapphire;
  .dropdown-list {
    color: inherit;
    .dropdown-item {
      &.highlighted {
        background-color: unset;
        color: $blackSapphire;
        @include lightBlueGradient;
      }
    }
  }
  svg {
    path,
    line {
      stroke: $blackSapphire;
    }
  }
}
