// /////////////////////////////////////////////////////////////// [Pre] Imports
// -----------------------------------------------------------------------------
@import 'normalize';
@import 'grid/gridlex-2.7.1';

// /////////////////////////////////////////////////////////////////////// Fonts
// -----------------------------------------------------------------------------
$fontAssetPath: '~assets/fonts';

//////////////////////////////////////////////////////////////////// Suisse Intl
@font-face {
  font-family: 'SuisseIntl';
  src: url('#{$fontAssetPath}/SuisseIntl/SuisseIntl-Light.otf') format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('#{$fontAssetPath}/SuisseIntl/SuisseIntl-Regular.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('#{$fontAssetPath}/SuisseIntl/SuisseIntl-Medium.otf') format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('#{$fontAssetPath}/SuisseIntl/SuisseIntl-SemiBold.otf') format('opentype');
  font-weight: 600;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('#{$fontAssetPath}/SuisseIntl/SuisseIntl-Bold.otf') format('opentype');
  font-weight: 700;
}

/////////////////////////////////////////////////////////////// Suisse Intl Mono
@font-face {
  font-family: 'Suisse Intl Mono';
  src: url('#{$fontAssetPath}/SuisseIntlMono/SuisseIntlMono-Thin.otf') format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: 'Suisse Intl Mono';
  src: url('#{$fontAssetPath}/SuisseIntlMono/SuisseIntlMono-Regular.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'Suisse Intl Mono';
  src: url('#{$fontAssetPath}/SuisseIntlMono/SuisseIntlMono-Bold.otf') format('opentype');
  font-weight: 700;
}
/////////////////////////////////////////////////////////////// Suisse Intl Book
@font-face {
  font-family: 'Suisse Intl Book';
  src: url('#{$fontAssetPath}/SuisseIntlBook/SuisseIntl-Book.otf') format('opentype');
  font-weight: 400;
}


// ///////////////////////////////////////////////////////////////////// General
// -----------------------------------------------------------------------------
html, body {
  @include leading_Regular;
  padding: 0;
  margin: 0;
  height: auto;
  background-color: $blackSapphire;
  font-family: $font_Primary;
  color: $white;
  font-size: 16px;
  letter-spacing: 0px;
  letter-spacing: $letter_SpacingRegular;
  ::-moz-selection { background: $turquoise; color: white; }
  ::selection { background: $turquoise; color: white; }
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  &.no-scroll {
    overflow-y: hidden;
  }
  &.no-cursor {
    cursor: none;
  }
}

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  outline: none !important;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

strong {
  font-weight: 500;
}

a,
ol,
ul,
li,
div,
nav,
pre,
span,
input,
label,
video,
button,
section,
textarea,
figcaption,
select option,
h1, h2, h3, h4, h5, h6,
input[type=tel],
input[type=url],
input[type=text],
input[type=time],
input[type=week],
input[type=date],
input[type=month],
input:not([type]),
input[type=color],
input[type=email],
input[type=number],
input[type=search],
input[type="radio"],
input[type=datetime],
input[type=password],
input[type="submit"],
input[type="checkbox"],
input[type=datetime-local] {
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  outline: none;
  box-shadow: none;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  box-sizing: border-box;
}

textarea,
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week] {
  @include placeholder {
    opacity: 0.5;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    color: inherit;
  }
  &:hover, &:active, &:focus {
    background-color: transparent;
  }
}

a,
input[type="button"],
button, .button {
  outline: none;
  &:hover, &:active, &:focus {
    outline: none;
    background-color: transparent;
  }
}

textarea {
  background-color: transparent;
  resize: none;
  transition: 250ms;
  &:active, &:focus, &:hover {
    transition: 250ms;
    background-color: transparent;
  }
}

ol, ul {
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

a,
button, .button {
  font-family: inherit;
  color: inherit;
  outline: none;
  text-decoration: none;
  position: relative;
  transition: 250ms;
  &:active, &:focus, &:hover {
    transition: 250ms;
    outline: none;
  }
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
}

::-webkit-file-upload-button {
  cursor: pointer;
}

.placeholder-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 25rem;
  margin: 1rem 0;
  background-color: $gray300;
  color: $gray900;
  border-radius: 0.5rem;
  font-weight: 600;
  &.tiny {
    height: 3rem;
  }
  &.mini {
    height: 5rem;
  }
  &.small {
    height: 10rem;
  }
  &.no-margin {
    margin: 0;
  }
}

// /////////////////////////////////////////////////////////////////////// Fonts
// -----------------------------------------------------------------------------
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
p,
div,
button {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  display: block;
  font-family: $font_Secondary;
}

h1, .h1 {
  @include fontSize_ExtraExtraLarge;
  @include small {
    @include fontSize_ExtraLarge;
  }
}

h2, .h2 {
  @include fontSize_ExtraLarge;
  @include small {
    @include fontSize_Large;
  }
}

h3, .h3 {
  @include fontSize_Large;
}

h4, .h4 {
  @include fontSize_Medium;
  @include small {
    @include fontSize_Regular;
  }
}

h5, .h5 {
  @include fontSize_Small;
}

h6, .h6 {
  @include fontSize_Mini;
}

div,
button,
p,
li {
  @include fontSize_Regular;
}

// ///////////////////////////////////////////////////////////////// Nuxt & Grid
// -----------------------------------------------------------------------------
#__nuxt {
  position: relative;
  z-index: 2;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='684' height='684' viewBox='0 0 684 684'><defs><linearGradient id='linear-gradient' x1='0.985' y1='0.018' x2='0.017' y2='0.862' gradientUnits='objectBoundingBox'><stop offset='0' stop-color='%2339c0cc'/><stop offset='1' stop-color='%23178ffd'/></linearGradient></defs><pattern id='bg' patternUnits='userSpaceOnUse' width='684' height='684'><g id='Rectangle_1597' data-name='Rectangle 1597' transform='translate(354 13)' fill='none' stroke='%23add6fe' stroke-width='2' stroke-dasharray='3 7' opacity='0.2'><rect width='320' height='319' stroke='none'/><rect x='1' y='1' width='318' height='317' fill='none'/></g><g id='Rectangle_1601' data-name='Rectangle 1601' transform='translate(11 353)' fill='none' stroke='%23add6fe' stroke-width='2' stroke-dasharray='3 7' opacity='0.2'><rect width='320' height='319' stroke='none'/><rect x='1' y='1' width='318' height='317' fill='none'/></g></pattern><pattern id='bb' patternUnits='userSpaceOnUse' width='171' height='171'><path id='Rectangle_1509' data-name='Rectangle 1509' d='M1,1V170H170V1H1M0,0H171V171H0Z' fill='url(%23linear-gradient)' opacity='0.2' /></pattern><rect width='100%25' height='100%25' fill='url(%23bg)'/><rect width='100%25' height='100%25' fill='url(%23bb)'/></svg>");
    opacity: 0.7;
    z-index: 1;
  }
}

#__layout {
  overflow: hidden;
  position: relative;
  z-index: 5;
  .master-container {
    position: relative;
  }
}

.layout {
  position: relative;
  z-index: 100;
}

.page.container {
  position: relative;
}

[class~="grid"],
[class*="grid-"],
[class*="grid_"] {
  width: $containerWidth;
  margin: 0 auto;
  @include customMaxMQ ($containerWidth + 4rem) {
    padding: 0 4.1665%;
    width: 100%;
  }
  &[class*="-noGutter"] {
    margin: 0 auto;
  }
  &.full {
    width: 100%;
    padding: 0 0.5rem;
    &.maxed {
      max-width: 90rem;
    }
  }
  &.no-padding {
    padding: 0;
  }
  [class~="grid"],
  [class*="grid-"],
  [class*="grid_"] {
    width: 100%;
    padding: 0;
  }
}

// /////////////////////////////////////////////////////////////// Accessibility
// -----------------------------------------------------------------------------
a,
div,
input,
button,
select,
textarea {
  &:focus {
  // @include focus_BoxShadow_Small;
  outline: 0;
 }
 &.focus-visible:focus:not(:focus-visible) {
   box-shadow: none;
   outline: 0;
 }
}

a.focus-visible:focus-visible,
a.focus-visible:moz-focusring {
  @include focus_BoxShadow_Small;
  outline: 0;
}

button.focus-visible:focus-visible,
button.focus-visible:moz-focusring {
  @include focus_BoxShadow_Small;
  outline: 0;
}

div.focus-visible:focus-visible,
div.focus-visible:moz-focusring {
  @include focus_BoxShadow_Small;
  outline: 0;
}

input.focus-visible:focus-visible,
input.focus-visible:moz-focusring {
  @include focus_BoxShadow_Small;
  outline: 0;
}

select.focus-visible:focus-visible,
select.focus-visible:moz-focusring {
  @include focus_BoxShadow_Small;
  outline: 0;
}

textarea.focus-visible:focus-visible,
textarea.focus-visible:moz-focusring {
  @include focus_BoxShadow_Small;
  outline: 0;
}

// ////////////////////////////////////////////////////////////// [Post] Imports
// -----------------------------------------------------------------------------
@import 'components';
