// /////////////////////////////////////////////////////////////////////// Fonts
// -----------------------------------------------------------------------------
$fontAssetPath: '~assets/fonts';

//////////////////////////////////////////////////////////////////// Suisse Intl
@font-face {
  font-family: 'SuisseIntl';
  src: url('#{$fontAssetPath}/SuisseIntl/SuisseIntl-Light.otf') format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('#{$fontAssetPath}/SuisseIntl/SuisseIntl-Regular.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('#{$fontAssetPath}/SuisseIntl/SuisseIntl-Medium.otf') format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('#{$fontAssetPath}/SuisseIntl/SuisseIntl-SemiBold.otf') format('opentype');
  font-weight: 600;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('#{$fontAssetPath}/SuisseIntl/SuisseIntl-Bold.otf') format('opentype');
  font-weight: 700;
}

/////////////////////////////////////////////////////////////// Suisse Intl Mono
@font-face {
  font-family: 'Suisse Intl Mono';
  src: url('#{$fontAssetPath}/SuisseIntlMono/SuisseIntlMono-Thin.otf') format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: 'Suisse Intl Mono';
  src: url('#{$fontAssetPath}/SuisseIntlMono/SuisseIntlMono-Regular.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'Suisse Intl Mono';
  src: url('#{$fontAssetPath}/SuisseIntlMono/SuisseIntlMono-Bold.otf') format('opentype');
  font-weight: 700;
}

// ///////////////////////////////////////////////////////////////////// General
// -----------------------------------------------------------------------------
html, body {
  background-color: $blackSapphire;
  color: $white;
  letter-spacing: $letter_SpacingRegular;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='684' height='684' viewBox='0 0 684 684'><defs><linearGradient id='linear-gradient' x1='0.985' y1='0.018' x2='0.017' y2='0.862' gradientUnits='objectBoundingBox'><stop offset='0' stop-color='%2339c0cc'/><stop offset='1' stop-color='%23178ffd'/></linearGradient></defs><pattern id='bg' patternUnits='userSpaceOnUse' width='684' height='684'><g id='Rectangle_1597' data-name='Rectangle 1597' transform='translate(354 13)' fill='none' stroke='%23add6fe' stroke-width='2' stroke-dasharray='3 7' opacity='0.2'><rect width='320' height='319' stroke='none'/><rect x='1' y='1' width='318' height='317' fill='none'/></g><g id='Rectangle_1601' data-name='Rectangle 1601' transform='translate(11 353)' fill='none' stroke='%23add6fe' stroke-width='2' stroke-dasharray='3 7' opacity='0.2'><rect width='320' height='319' stroke='none'/><rect x='1' y='1' width='318' height='317' fill='none'/></g></pattern><pattern id='bb' patternUnits='userSpaceOnUse' width='171' height='171'><path id='Rectangle_1509' data-name='Rectangle 1509' d='M1,1V170H170V1H1M0,0H171V171H0Z' fill='url(%23linear-gradient)' opacity='0.2' /></pattern><rect width='100%25' height='100%25' fill='url(%23bg)'/><rect width='100%25' height='100%25' fill='url(%23bb)'/></svg>");
}

// ////////////////////////////////////////////////////////////// [Post] Imports
// -----------------------------------------------------------------------------
@import 'components';
