// ////////////////////////////////////////////////////////////////// Typography
// -----------------------------------------------------------------------------
// -------------------------------------------------------------------- Families
$font_Primary: 'SuisseIntl', sans-serif;
$font_Secondary: 'Suisse Intl Mono', sans-serif, monospace;

// --------------------------------------------------------------------- General
$containerWidth: 75rem;
$containerWidthPlusOnePixel: 75.0625rem;
$containerSingleColumn: 4.1665%;
$standardGutter: 0.75rem;

// ----------------------------------------------------------------- Breakpoints
$breakpoint_Tiny: 25.9375rem; // 415px
$breakpoint_Mini: 40rem; // 640px
$breakpoint_Small: 53.125rem; // 850px
$breakpoint_Medium: 64rem; // 1024px
$breakpoint_Large: 75rem; // 1200px
$breakpoint_Xlarge: 90rem; // 1440px
$breakpoint_UltraLarge: 140.625rem; // 2250px

// ---------------------------------------------------------------------- Sizing
// fontSize_Mini | 11pt
// fontSize_Small | 13pt
// fontSize_Regular | 16pt
// fontSize_Medium | 18pt
// fontSize_Large | 20pt
// fontSize_Larger | 22pt
// fontSize_ExtraLarge | 24pt
// fontSize_ExtraMediumLarge | 28pt
// fontSize_ExtraExtraLarge | 40pt

$fontSize_Mini: 0.6875rem;
$fontSize_Small: 0.8125rem;
$fontSize_Regular: 1rem;
$fontSize_Medium: 1.125rem;
$fontSize_Large: 1.25rem;
$fontSize_Larger: 1.375rem;
$fontSize_ExtraLarge: 1.5rem;
$fontSize_ExtraMediumLarge: 1.75rem;
$fontSize_ExtraExtraLarge: 2.5rem;

// --------------------------------------------------------------------- Weight

$fontWeight_Regular: 400;
$fontWeight_Medium: 500;
$fontWeight_SemiBold: 600;

// --------------------------------------------------------------------- Leading
$leading_Tiny: 1;
$leading_Mini: 1.2;
$leading_Small: 1.4;
$leading_Regular: 1.5;
$leading_Medium: 1.6;
$leading_Large: 2;
$leading_ExtraLarge: 2.2;
$leading_ExtraExtraLarge: 2.4;

// -------------------------------------------------------------- Letter Spacing
$letter_SpacingRegular: 0.02em;

// --------------------------------------------------------------- Border Radius
$borderRadius_Small: 0;
$borderRadius_Medium: 1px;
// $borderRadius_Large:;

// //////////////////////////////////////////////////////// Button Layer Spacing
$bottomLayerOffsetLeft: -10px;
$bottomLayerOffsetTop: -10px;
$middleLayerOffsetLeft: -6px;
$middleLayerOffsetTop: -5px;

// ///////////////////////////////////////////////////////////////////// General
// -----------------------------------------------------------------------------
// -------------------------------------------------------------------- Coloring
$site_backgroundColor: $blackSapphire;
$font_Color_Primary: $white;
$font_Color_Secondary: $tundora;

$fill_Dark: $midnight;
$fill_Dark_Secondary: $cadmiumBlue;
$fill_Light: $white;
$fill_Active: $jaguar;

$highlight_Light: $dodgerBlue;
$highlight_Medium: $dodgerBlue;

$border_Color: $white;
