// ////////////////////////////////////////////////////////////////////// Colors
// -----------------------------------------------------------------------------
$ocean: #39C0CC;  // 1st gradient start (turquoise)
$azure: #178FFD; // 1st gradient end (violetblue)
$blizzard: #B0F0FF; // 2nd gradient start (blue)
$paleCornflower: #ADD0FE; // 2nd gradient end (violet)
$frostbite: #D5F6FD; // 3rd gradient start (light blue)
$morningSky: #DDECFF; // 3rd gradient end (light violet)

$midnight: #00012B; // indigo used for subscribe section
$cadmiumBlue: #0215A3;  // rich blue used for subscribe section
$daytonaBlue: #0A00E2; // rich blue used for segment slider layer
$jaguar: #030307; // Black-Blue used for active button states

$dodgerBlue: #1890FC; // Blue (used for outbound links)
$caribbeanBlue: #36BBD1; // $turquoise used for link
$turquoise: #31B4D8; // used for scrollbar

$blackSapphire: #07070D; // black used for background
$white: #FFFFFF;
$tundora: #494949; // Medium gray

$lightGrey: #F1F3F2;
$darkGrey: #181818;
$projectDetailsGrey: #F9F9F9;
$greyBlue: #C7D9EA;
